<mat-card class="card" [routerLink]="[offer._id]">

  <div class="logo-container">
    <img class="logo-company" src="{{ offer.company.srcImg }}"/>
  </div>

  <div class="card-content">
    <div class="card-title">
      <div class="title">{{ offer.title }}</div>
      <div class="subtitle">{{ offer.company.display }} {{offer.company.isPartner ? ' - Partenaire ECM' : ''}}</div>
    </div>

    <div class="card-info">
      <pre>{{ [offer.location, offer.duration, offer.sector.display, 'Il y a ' + this.offerService.computeOfferTimeSinceCreation(offer.createdDate)].join('   |   ') }}</pre>
    </div>
  </div>

  <div class="card-footer">
    <div>{{ offer.type }}</div>
    <div *ngIf="offer.matchingScore>=0" class="matching-score" [style]="colorScore">{{ offer.matchingScore }}%</div>
    <div *ngIf="!(offer.matchingScore>=0)" class="matching-score">--%</div>
  </div>

</mat-card>
