.card {
  display: flex;

  box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.2);

  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.35);
  }
}

.logo-container {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(128,128,128, 0.2);
  border-radius: 10px;

  margin-right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  .logo-company {
    max-height: 90px;
    max-width: 90px;
  }
}


.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-title {

    .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;

    }

    .subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: var(--color-text-gray);
    }
  }

  .card-info {
    color: var(--color-text-gray);
    display: flex;
  }
}

.card-footer {
  margin-left: auto;
  align-self: flex-end;

  display: flex;
}

.matching-score {
  margin-left: 10px;
}

@media (max-width: 767px) {

  .card-info {
    display: none !important;
  }
}
