.card:hover {
  box-shadow: 0 1px 5px -1px rgba(0,0,0,.5), 
    0 1px 1px 0 rgba(0,0,0,.3), 
    0 1px 3px 0 rgba(0,0,0,.3);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.logo-company {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
}

.matching-score {
  font-size: bold;
}