<mat-toolbar>

  <a routerLink="/">ACCUEIL</a>
  <a routerLink="/offers" *ngIf="currentUser">LES OFFRES</a>
  <a routerLink="/companies" *ngIf="currentUser && currentUser.isStudent" >DONNER SON AVIS</a>
  <a routerLink="/faq">FAQ</a>

  <span class="example-spacer"></span>

  <a routerLink="/login" *ngIf="!currentUser && !isProfilOpen">Se connecter</a>
  <div class="button profilBox" routerLink="/profile">
    <img src="../../assets/images/0xpuser.png" alt="Profile logo">
    <div *ngIf="currentUser.isStudent && currentUser.softSkills == undefined">
      <div class="notifInfo">
        <p>!</p>
      </div>
      <div *ngIf="nbrNotif>0" class="notifAlert">
        <p>{{nbrNotif}}</p>
      </div>
    </div>
  </div>
  
</mat-toolbar>