.carousel-container {
    background-color: white;
    padding: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel-item {
    margin: 0 20px;
    position: relative;
    width: 100px;
    left: -10px;
}
