<mat-drawer-container autosize>

  <mat-drawer [autoFocus]="false" #drawer class="sidenav" mode="over">
    <a routerLink="/"><img class="logo-image" src="../../../assets/images/logo-ecm.png" /></a>
    <a routerLink="/login" *ngIf="!currentUser">Me connecter</a>
    <a routerLink="/profile" *ngIf="!!currentUser">Mon profil</a>
    <a routerLink="/offers" *ngIf="!!currentUser">Les offres</a>
    <a routerLink="/companies" *ngIf="currentUser?.type === 'student' || currentUser?.type === 'admin'" >Donner son avis</a>
    <a routerLink="/faq">Faq</a>
  </mat-drawer>

  <div>
    <ng-content></ng-content>
  </div>

</mat-drawer-container>
