a {
    text-decoration: none;
    color: var(--color-gray-blue);
    font-weight: bold;
    padding: 10px 10px;
    display: block;

    &:hover {
        color: var(--color-main-blue);
        cursor: pointer;
    }
}

.sidenav {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-drawer-container {
    height: 100vh;
}

.logo-image {
    width: 30vw;
}
