<button *ngIf="!isEdition" mat-raised-button class="edit-profile-button" (click)="enableEdition()">
  Editer le profil <mat-icon>edit</mat-icon>
</button>

<div *ngIf="currentUser.isStudent">

  <div *ngIf="!isEdition">
    <div class="bloc">
      <h2>Informations Générales</h2>
      <p><span class="label">Nom : </span>{{currentUser.firstName}} {{currentUser.name}}</p>
      <p><span class="label">Date de naissance : </span>{{currentUser.dateBirth}}</p>
    </div>
    <div class="bloc">
      <h2>Contact</h2>
      <p><span class="label">Email : </span>{{currentUser.email}}</p>
      <p><span class="label">Numéro de téléphone : </span>{{currentUser.telephone}}</p>
      <p><span class="label">Localisation : </span>{{currentUser.location}}</p>
    </div>
    <div class="bloc">
      <h2>Soft Skills</h2>
      <div *ngIf="currentUser?.softSkills">
        <ul *ngFor="let skill of currentUser.softSkills">
          <li>{{skill}}</li>
        </ul>
      </div>
      <div *ngIf="currentUser.softSkills.length === 0" class="flexRow message-profil">
        <img src="https://image.flaticon.com/icons/svg/1636/1636062.svg" />
        <p class="information">Vous n'avez pas sélectionné de soft skills...</p>
      </div>
    </div>
  </div>


  <div *ngIf="isEdition">
    <img class="button close-logo" (click)="disableEdition()" src="../../../assets/images/cross-light.svg">
    <h1 class="center profile-edition">Edition du Profil</h1>
    <br />
    <div class="bloc">
      <h3 class="center">Informations générales</h3>
      <div class="center">
        <mat-form-field class="center">
          <input name="first-name-input" matInput placeholder="Prénom" [(ngModel)]="currentUserEdit.firstName">
        </mat-form-field>
        <mat-form-field class="center">
          <input name="name-input" matInput placeholder="Nom" [(ngModel)]="currentUserEdit.name">
        </mat-form-field>
        <mat-form-field class="center">
          <input name="date-birth-input" type="date" matInput placeholder="Date de naissance" [(ngModel)]="currentUserEdit.dateBirth">
        </mat-form-field>
      </div>
      <div class="center">
        <mat-form-field class="center">
          <input name="location-input" matInput placeholder="Localisation" [(ngModel)]="currentUserEdit.location">
        </mat-form-field>
      </div>
    </div>

    <div class="bloc">
      <h3 class="center">Contact</h3>
      <div class="center">
        <mat-form-field class="center">
          <input name="contact-mail-input" matInput placeholder="E-mail" [(ngModel)]="currentUserEdit.email">
        </mat-form-field>
        <mat-form-field class="center">
          <input name="contact-tel-input" class="location-input" matInput placeholder="Téléphone" [(ngModel)]="currentUserEdit.telephone">
        </mat-form-field>
      </div>
      <br />
    </div>
    <div class="bloc">
      <h3 class="center">Soft Skills</h3>
      <mat-form-field>
        <mat-label>Soft Skills</mat-label>
        <mat-select [(ngModel)]="currentUserEdit.softSkills" multiple name="soft-skill-select">
          <mat-option *ngFor="let skill of softSkillsList" [value]="skill.value">{{skill.display}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h3 class="button btn-success" (click)="updateProfile()" routerLink="/profile">Modifier</h3>
  </div>
</div>

<div *ngIf="!currentUser.isStudent">
  <div *ngIf="!isEdition">
    <div class="bloc">
      <h3>Informations générales</h3>
      <p><span class="label">Nom de l'entreprise : </span>{{currentUser.name}}</p>
      <p><span class="label">Date de création : </span>{{currentUser.creationDate}}</p>
      <p><span class="label">Taille : </span>{{currentUser.taille}}</p>
      <p><span class="label">Localisation : </span>{{currentUser.location}}</p>
    </div>
    <div class="bloc">
      <h3>Informations complémentaires</h3>
      <p><span class="label">Description : </span>{{currentUser.description}}</p>
      <p><span class="label">Contact : </span>{{currentUser.contact}}</p>
    </div>

  </div>
  <div *ngIf="isEdition">
    <img class="button close-logo" (click)="disableEdition()" src="../../../assets/images/cross-light.svg">
    <h1 class="center">Edition du Profil</h1>
    <br />
    <div class="bloc">
      <h3 class="center">Informations générales</h3>
      <br />
      <div class="center">
        <mat-form-field class="center title">
          <input matInput placeholder="Nom de l'Entreprise" [(ngModel)]="currentUserEdit.name">
        </mat-form-field>
      </div>
      <div class="center">
        <mat-form-field class="center">
          <input type="date" matInput placeholder="Date de création" [(ngModel)]="currentUserEdit.creationDate">
        </mat-form-field>
        <mat-form-field class="center">
          <mat-select matNativeControl [(ngModel)]="currentUserEdit.taille">
            <mat-option value="1-10">1-10</mat-option>
            <mat-option value="11-100">11-100</mat-option>
            <mat-option value="101-1 000">101-1000</mat-option>
            <mat-option value="1 001-1 0000">1001-10 000</mat-option>
            <mat-option value="+10 000">+10 000</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="center">
          <input matInput placeholder="Localisation" [(ngModel)]="currentUserEdit.location">
        </mat-form-field>
      </div>
    </div>
    <div class="bloc">
      <h3 class="center">Informations complémentaires</h3>
      <br />
      <div class="center">
        <mat-form-field class="center desc">
          <textarea matNativeControl placeholder="Description" [(ngModel)]="currentUserEdit.description"></textarea>
        </mat-form-field>
      </div>
      <div class="center">
        <mat-form-field class="center title">
          <input matInput placeholder="Contact" [(ngModel)]="currentUserEdit.contact">
        </mat-form-field>
      </div>
    </div>

    <h3 class="button btn-success" (click)="updateProfile()" routerLink="/profile">Modifier</h3>
  </div>
</div>
