.filter-banner {
  background-color: var(--color-light-gray);
  border-bottom: 3px solid var(--color-main-blue);
  padding: 20px 20px 20px 10vw;

  display: flex;
  flex-direction: column;


  h1 {
    color: var(--color-main-blue);
    margin-top: 0;
  }

  mat-chip {
    box-shadow: #00000447 0 2px 3px;
    background-color: #ffffff;
    border-radius: 7px;
    margin: 4px 7px;
  }

  .return-button {
    color: #ffffff;
    background-color: var(--color-main-blue);
    margin-left: auto;
  }
}

.offer-overview {
  margin: 20px;
  display: flex;

  .img-container {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 10px;
    margin: 0 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    .img-border {
      border-radius: 10px;
      border: 1px solid rgba(128, 128, 128, 0.2);
      padding: 10px;

      img {
        max-width: 120px;
        max-height: 120px;
      }
    }
  }

  .info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: var(--color-main-blue);
      margin: 10px 0;
      font-size: 2.7em;
    }

    pre {
      margin: 0;
    }

    a {
      margin-top: 10px;
      text-decoration: none;
      color: var(--color-main-blue);
    }
  }

  .pdf-button {
    margin: 0 10vw 0 auto;
    align-self: flex-end;
  }
}

.section {
  margin: 20px 14vw;

  .section-title {
    color: #ffffff;
    background-color: var(--color-main-blue);

    margin: 5vh 0;
    padding: 0 20px 0 40px;
    width: fit-content;
  }

  .section-content {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .filter-banner {
    padding: 20px;
  }

  .offer-sheet {
    .section {
      margin: 20px;
    }
  }
}
