<div class="filter-banner">
  <h1>VOTRE RECHERCHE</h1>
  <mat-chip-list *ngIf="filterKeys.length > 0">
    <div *ngFor="let key of filterKeys">
      <mat-chip *ngIf="currentFilter[key]">
        {{currentFilter[key]}}
      </mat-chip>
    </div>
  </mat-chip-list>
  <div *ngIf="filterKeys.length === 0">
    Aucun filtre utilisé...
  </div>
  <button mat-raised-button class="return-button" routerLink="/offers">Retour aux résultats</button>
</div>

<div class="offer-overview">

  <div class="img-container">
    <div class="img-border">
      <img src="{{company?.srcImage}}" alt="logo company" />
    </div>
  </div>

  <div class="info-content">
    <div>{{offer.sector.display}}</div>
    <h1>{{offer.title}}</h1>
    <pre>{{ [offer.location, offer.duration, offer.sector.display].join('   |   ') }}</pre>
    <div>Publiée il y a {{this.offerService.computeOfferTimeSinceCreation(offer.createdDate)}}</div>
    <a [href]="company?.websiteUrl" target="_blank">{{company?.websiteUrl}}</a>
  </div>

  <button *ngIf="!!offerPdf" class="pdf-button" (click)="onPdfPreviewClick()" mat-raised-button>{{offerPdf?.name}}</button>
</div>

<div class="section" *ngIf="company?.description">
  <h1 class="section-title">À propos de l'entreprise</h1>
  <p class="section-content" [innerHTML]="company.description"></p>
</div>

<div class="section" *ngIf="offer?.description">
  <h1 class="section-title">Descriptif du poste</h1>
  <p class="section-content" [innerHTML]="offer.description"></p>
</div>

<div class="section" *ngIf="offer?.profileDescription">
  <h1 class="section-title">Descriptif du poste</h1>
  <p class="section-content" [innerHTML]="offer.profileDescription"></p>
</div>
