<div class="avis-preview">
  <div *ngFor="let avis of avisList" class="avis-box">
    <app-avis-overview [avis]="avis"></app-avis-overview>
  </div>

</div>

<div *ngIf="currentUser?.isStudent" class="form-avis">
  <h1>Donne ton avis</h1>
  <br />
  <form [formGroup]="avisForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-element">
      <mat-label for="noteGenerale">Impression générale</mat-label>
      <mat-select type="text" formControlName="noteGenerale">
        <mat-option *ngFor="let note of [1, 2, 3, 4, 5]" [value]=note>{{note}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label for="noteInteret">Intérêt de la mission</mat-label>
      <mat-select type="text" formControlName="noteInteret">
        <mat-option *ngFor="let note of [1, 2, 3, 4, 5]" [value]=note>{{note}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label for="noteAmbiance">Ambiance de travail</mat-label>
      <mat-select type="text" formControlName="noteAmbiance">
        <mat-option *ngFor="let note of [1, 2, 3, 4, 5]" [value]=note>{{note}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label for="noteEncadrt">Encadrement</mat-label>
      <mat-select type="text" formControlName="noteEncadrt">
        <mat-option *ngFor="let note of [1, 2, 3, 4, 5]" [value]=note>{{note}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-group">
      <textarea type="text" formControlName="description" placeholder="Commentaire"
        [ngClass]="{'is-invalid': avisForm.controls.description.errors}">
          </textarea>
      <div *ngIf="avisForm.controls.description.errors" class="invalid-feedback">
        <div *ngIf="avisForm.controls.description.errors.required">Le commentaire est requis !</div>
      </div>
    </div>

    <button mat-raised-button>Ajouter un avis</button>
  </form>
</div>
