.register-container {
    display: flex;
    justify-content: center;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 70px;

    border-radius: 20px;
    background-color: #fafafa;
    box-shadow: 0 0 10px 0 lightgrey;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    :first-child {
        margin-top: 10px;
    }
}

.register-field {
    width: 100%;
}

.form-buttons {
    margin-top: 15px;
}

.register-button {
    color: white;
    background-color: var(--color-orange);
}

.form-button {
    margin: 10px;
}
