<div class="register-container">
  <div class="register-form-container">
    <h2>S'enregistrer</h2>
    <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)">
      <mat-tab label="Étudiant">
        <form class="register-form" [formGroup]="studentRegisterForm">

          <mat-form-field class="register-field">
            <mat-label>Prénom*</mat-label>
            <input matInput type="text" formControlName="firstName">
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Nom*</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Utilisateur*</mat-label>
            <input matInput type="text" formControlName="username">
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Mot de Passe*</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Email*</mat-label>
            <input matInput type="email" formControlName="email">
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Téléphone</mat-label>
            <input matInput type="tel" formControlName="telephone">
          </mat-form-field>

        </form>
      </mat-tab>
      <mat-tab label="Entreprise">
        <form class="register-form" [formGroup]="companyRegisterForm">

          <mat-form-field class="register-field">
            <mat-label>Nom de l'Entreprise*</mat-label>
            <input matInput type="text" formControlName="companyName">
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Utilisateur*</mat-label>
            <input matInput type="text" formControlName="username">
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Mot de Passe*</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Email*</mat-label>
            <input matInput type="text" formControlName="email">
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Taille</mat-label>
            <mat-select formControlName="size">
              <mat-option *ngFor="let size of sizeList" [value]="size">{{size}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="register-field">
            <mat-label>Logo Url</mat-label>
            <input matInput type="text" formControlName="srcImage">
          </mat-form-field>

        </form>
      </mat-tab>
    </mat-tab-group>


    <div class="form-buttons">
      <button mat-raised-button class="register-button form-button" (click)="onSubmit()" [disabled]="loading">
        S'enregistrer
      </button>
      <button mat-raised-button type="reset" class="cancel-button form-button" routerLink="/login" >
        Annuler
      </button>
    </div>
  </div>
</div>
