<mat-card class="card" [routerLink]="[offer.id]">
  <mat-card-header class="header">
    <mat-card-title>{{ offer.title }}</mat-card-title>
    <mat-card-subtitle>{{ offer.company }}</mat-card-subtitle>
    <img class="logo-company" src="{{ offer.srcImgCompany }}" />
  </mat-card-header>
  <mat-card-footer class="footer">
    <div>{{ offer.location }}</div>
    <div>{{ offer.type }}</div>
    <div>{{ offer.duration }}</div>
    <div>{{ offer.sector }}</div>
    <div>{{ strDateCreated }}</div>
    <div *ngIf="offer.matchingScore>=0" class="matching-score" [style]="colorScore">{{ offer.matchingScore }}%</div>
    <div *ngIf="!(offer.matchingScore>=0)" class="matching-score">--%</div>
  </mat-card-footer>
</mat-card>