<div *ngIf="!validationPanel" class="top-offer-button-container">
  <button mat-raised-button class="top-offer-button" routerLink="/addOffer">
    Ajouter une offre <mat-icon>add_circle</mat-icon>
  </button>
  <a *ngIf="currentUser.type === 'admin'" [href]="csvDownloadLink" class="top-offer-button"  target="_blank" mat-raised-button>
    Exporter les offres en CSV <mat-icon>cloud_download</mat-icon>
  </a>
</div>


<div *ngFor="let offer of listOffer">
  <div class="offer-co-preview">
    <div class="infos">
      <div class="title">
        <h2>{{offer.title}}</h2>
        <p>{{offer.type}} • {{offer.duration}} • Il y a {{this.offerService.computeOfferTimeSinceCreation(offer.createdDate)}}</p>
      </div>
      <p style="color:gray">{{offer.company.display}}</p>
    </div>
    <button class="offer-icon-action" mat-icon-button (click)="onEditClick(offer)">
      <mat-icon>edit</mat-icon>
    </button>
    <button class="offer-icon-action" *ngIf="validationPanel" mat-icon-button (click)="onValidateClick(offer)">
      <mat-icon>check_circle</mat-icon>
    </button>
    <button class="offer-icon-action" mat-icon-button (click)="onDeleteClick(offer)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="isEditingOffer" class="modale-edition">
  <img class="button close-logo" (click)="onCloseEditionClick()" src="../../../../../assets/images/cross-light.svg">
  <app-add-offer (updatedEvent)="isEditingOffer = false" [offerEdited]="offerToBeEdited"></app-add-offer>
</div>
