.add-company-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
}

.modal-header-content {
    color: var(--color-main-blue);
}

.modal-body {
    text-align: justify;
}

.add-company-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-company-field {
    width: 100%;
    margin: 5px;
}

.form-buttons{
    margin: 5px;
}

.add-company-button {
    color: white;
    background-color: var(--color-main-blue);
    margin: 10px;
}

.reset-button {
    margin: 10px;
}
