.add-company-container {
    margin: 1vh 0 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-company-modal-button {
    display: flex;
    margin: 15px auto;
    padding: 5px 15px;

    mat-icon {
        margin-left: 8px;
        height: 26px;
    }
}

.modal {
    width: 76%;
    margin: auto 12%;
    height: auto;
    background-color: white;
    z-index: 3;
    border-radius: 10px;
    box-shadow: #0000047a 0 0 10px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-body {
    width: 90%;
    margin: auto;
    text-align: justify;
}

.add-company-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-company-field {
    width: 50%;
    margin: 5px;
}

.form-buttons{
    margin: 5px;
}

.add-company-button {
    color: white;
    background-color: var(--color-orange);
    margin: 10px;
}

.reset-button {
    margin: 10px;
}
