<div class="add-company-container">

  <div class="modal-header-content">
    <h1>{{companyToEdit ? 'Modifier' : 'Ajouter'}} une entreprise</h1>
  </div>

  <div class="modal-body">
    <form class="add-company-form" [formGroup]="registerForm">

      <mat-form-field class="add-company-field">
        <mat-label>Nom de l'Entreprise*</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field class="add-company-field">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field class="add-company-field">
        <mat-label>Localisation</mat-label>
        <input matInput type="text" formControlName="location">
      </mat-form-field>

      <mat-form-field class="add-company-field">
        <mat-label>Catégorie</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of companyCategories" [value]="category._id" >{{category.display}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="add-company-field">
        <mat-label>Contact*</mat-label>
        <input matInput type="text" formControlName="contact">
      </mat-form-field>

      <mat-form-field class="add-company-field">
        <mat-label>Site web</mat-label>
        <input matInput type="text" formControlName="websiteUrl">
      </mat-form-field>

      <div class="add-company-field">
        <app-add-logo [logoAsBase64]="this.companyToEdit?.srcImage" (logoReadyEvent)="onLogoReady($event)"></app-add-logo>
      </div>

      <mat-checkbox class="add-company-field" formControlName="isPartner">Entreprise partenaire</mat-checkbox>

      <div class="form-buttons">
        <button mat-raised-button [mat-dialog-close]="onSubmit()" class="add-company-button" type="submit"
                [disabled]="registerForm.invalid">
          {{companyToEdit ? 'Modifier' : 'Ajouter'}}
        </button>
        <button mat-raised-button mat-dialog-close class="reset-button" type="reset">
          Annuler
        </button>
      </div>

    </form>
  </div>
</div>
