<div class="paragraph gray-bg">
    <h1 class="title">Informations importantes et Foire Aux Questions</h1>
    <p>Les périodes de stages sont des moments importants de votre formation d'ingénieurs. Ils sont au coeur des échanges entre l'école et le monde économique. Ils vous permettront de mettre en situation les acquis académiques et de découvrir les différentes missions qu'un ingénieur est amené à réaliser.</p>
    <p>La règlementation nationale ainsi que les critères définis par la Commission des Titres de l'Ingénieur sont très stricts concernant les objectifs et le statut du stagiaire. Aussi vous devez impérativement lire et respecter les différentes informations et procédures que l'école a mis en place pour gérer votre stage.</p>
</div>

<div class="paragraph white-bg">
    <h1 class="title">Règles de base</h1>
    <div class="no-space">
        <p>- Pour être diplomé(e) vous devez cumuler 28 semaines de stage conventionnées et validées pendant votre scolarité à Centrale Marseille, dont 14  semaines en entreprise.</p>
        <p>- Les durées minimales des différents stages sont imposées et ne peuvent pas se compenser entre elles :</p>
    </div>
    <table>
        <tr class="first-line">
            <td class="first-col">Élèves</td>
            <td>Début</td>
            <td>Durée</td>
            <td>Intitulé</td>
        </tr>
        <tr>
            <td class="first-col">1ère année</td>
            <td>Juillet</td>
            <td>4 semaines minimum</td>
            <td>Stage découverte de l'entreprise</td>
        </tr>
        <tr>
            <td class="first-col">2ème année</td>
            <td>Juin</td>
            <td>8 semaines minimum</td>
            <td>Stage découverte du métier d'ingénieur</td>
        </tr>
        <tr>
            <td class="first-col">3ème année</td>
            <td>Avril</td>
            <td>16 semaines minimum</td>
            <td>Travail de Fin d'Etude</td>
        </tr>
    </table>
    <div class="no-space">
        <p>- Tout stage doit préalablement faire l'objet d'une validation pédagogique (procédure ici). En particulier, l'école refusera toute demande :</p>
        <p> &nbsp;&nbsp; - Ne correspondant pas aux attentes pédagogiques du stage concerné</p>
        <p> &nbsp;&nbsp; - Concernant des stages dans des pays ou des environnements à risques</p>
    </div>

    <div class="no-space">
        <p>- Un stage ne peut être conventionné que s'il est obligatoire pour l'obtention du diplôme</p>
        <p>- Un stage fait obligatoirement l’objet d’une convention tripartite (Entreprise / Labo – ECM – Etudiant).</p>
        <p>- Interdiction légale de faire un stage de plus de 6 mois dans le même organisme</p>
        <p>- Un stage conventionné par l'école fait obligatoirement l'objet d'une évaluation</p>
        <p>- Gratification de stage obligatoire si le stage est en France et d'une durée supérieure à 2 mois (>44 jours travaillés)</p>
        <p>- Aucun stage ne peut débuter avant que la convention ne soit signée par toutes les parties</p>
        <p>- L’étudiant recherche lui-même son stage</p>
        <p>- A l'issue de votre stage l'organisme devra vous délivrer une attestation de stage faite suivant le modèle officiel.</p>
    </div>

    <br/>
    <div class="button-container">
        <a class="mat-raised-button" href="https://stages.centrale-marseille.fr/" target="_blank">Procédure de validation pédagogique</a>
    </div>
</div>

<div class="paragraph gray-bg">
    <h1 class="title">Les intrerlocuteurs de votre stage</h1>
    <p>Pour toutes questions relatives à la gestion pédagogique des stages, vos interlocuteurs seront Guillaume Chiavassa -  Responsable des stages, ainsi que le bureau formations professionnalisantes (plot 2 bureau 121): Maeva Gardavoir et Martine Justinien. Les demandes devront être exclusivement adressées à l’adresse suivante: gestion-stage@centrale-marseille.fr</p>
    <div class="no-space">
        <p>Pour toutes questions relatives à la recherche d’un stage ou au suivi de la convention, vos interlocutrices au Service Relations Entreprises et Valorisation de la Recherche  seront:</p>
        <p>Pour les stages en entreprises : Mouna Mechta (Plot 4 bureau 104) mouna.mechta@centrale-marseille.fr</p>
        <p>Pour les stages en laboratoires : Sarah Mostefa (Plot 4 bureau 105) sarah.mostefa@centrale-marseille.fr</p>
    </div>
    <p>Avant de contacter les personnes précédentes, il est indispensable de consulter la liste de questions-réponses suivante, ainsi que celles plus spécifiques aux stages 1A,  2A,  Césures,  TFE,  Double-Diplôme sortant.</p>
</div>

<div class="paragraph white-bg">
    <h1 class="title">Les intrerlocuteurs de votre stage</h1>
    <div class="no-space">
        <p>- En consultant les offres reçues par l'école  - En se rendant au Service Relations Entreprises et Valorisation de la Recherche au plot 4.</p>
        <p>- En vous rapprochant des enseignants-chercheurs, des responsables de parcours 3A et de S8, des anciens élèves …</p>
        <p>- En envoyant des candidatures spontanées</p>
        <p>- En activant votre réseau de relations personnelles</p>
        <p>- En participant à des  forums entreprises (ex : forum FOCEEN …)</p>
        <p>- En profitant au mieux des nombreuses occasions d'interaction avec des professionnels : conférences, tables rondes …</p>
        <p>- En échangeant avec les élèves des promotions précédentes et en consultant la base des stages des années antérieures (données TFE données 2A, données 1A)</p>
    </div>
</div>

<div class="paragraph gray-bg">
    <h1 class="title">Général</h1>
    <app-faq-question *ngFor="let el of general" [question]="el.quest" [answer]="el.answ"></app-faq-question>

    <h1 class="title">Stages 1A</h1>
    <app-faq-question *ngFor="let el of stages1a" [question]="el.quest" [answer]="el.answ"></app-faq-question>

    <h1 class="title">Stages 2A</h1>
    <app-faq-question *ngFor="let el of stages2a" [question]="el.quest" [answer]="el.answ"></app-faq-question>

    <h1 class="title">Stages TFE</h1>
    <app-faq-question *ngFor="let el of stagestfe" [question]="el.quest" [answer]="el.answ"></app-faq-question>

    <h1 class="title">Double Diplôme sortant</h1>
    <app-faq-question *ngFor="let el of ddsortants" [question]="el.quest" [answer]="el.answ"></app-faq-question>

    <h1 class="title">Stages en Césure</h1>
    <app-faq-question *ngFor="let el of cesures" [question]="el.quest" [answer]="el.answ"></app-faq-question>
</div>
