.paragraph {
    padding: 5vh 15vw;

    display: flex;
    flex-direction: column;

    font-size: 1.2em;

    p, app-faq-question {
        color: var(--color-main-blue);
        margin-left: 30px;
    }
}

.gray-bg {
    background-color: var(--color-light-gray);
}

.white-bg {
    background-color: #ffffff;
}

.title {
    color: #ffffff;
    background-color: var(--color-main-blue);

    margin: 5vh 0;
    padding: 0 20px 0 40px;
    width: fit-content;
}
.no-space {
    margin: 10px 0;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

table {
    border: none;
    border-spacing: 0;
    margin: 5vh auto;
    box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.2);

    td {
        border: none;
    }

    .first-col {
        background-color: var(--color-main-blue);
        color: #ffffff;
    }

    .first-line {
        font-weight: bold;

        & > .first-col::after {
            content: "";
            position: relative;
            left: -47px;
            padding: 0 30px 8px;
            border-bottom: 1px solid #ffffff;
        }
    }
}

td {
    border: 0.5px #00000052 solid;
    padding: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: #ffffff;
        background-color: var(--color-main-blue);
        font-weight: bold;

        padding: 9px 18px;
        text-decoration: none;
        border-radius: 4px;
    }
}

@media (max-width: 767px) {
    .paragraph {
        padding: 5vh 30px;
    }
}
