<script src="../navbar/navbar.component.ts"></script>
<div *ngIf="!currentUser?.srcImage" class="img-bloc">
  <img class="img-center" src="../../../assets/images/0xpuser.png" />
</div>
<div *ngIf="currentUser?.srcImage" class="img-bloc co">
  <img class="img-center" [src]="currentUser?.srcImage" />
</div>


<div class="logout">
  <a (click)="logout()">Deconnexion</a>
</div>

<div *ngIf="currentUser?.softSkills?.length === 0" class="messageProfil flexRow">
  <img src="https://image.flaticon.com/icons/svg/1636/1636062.svg" />
  <p class="information">Des informations manquent à votre profil</p>
</div>

<div class="profile-box" *ngIf="currentUser?.isStudent && currentUser?.username !== 'admin'">
  <div class="square-sections">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Mon Profil">
        <app-profile-detail></app-profile-detail>
      </mat-tab>
      <mat-tab label="Mes favoris">
        <app-offer-square></app-offer-square>
      </mat-tab>
      <mat-tab label="Mes notifications">
        <app-notification></app-notification>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="profile-box" *ngIf="!currentUser?.isStudent && currentUser?.username !== 'admin'">
  <div class="square-sections">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Mon Profil">
        <app-profile-detail></app-profile-detail>
      </mat-tab>
      <mat-tab label="Mes offres">
        <app-offer-company></app-offer-company>
      </mat-tab>
      <mat-tab label="Mes notifications">
        <app-notification></app-notification>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="profile-box" *ngIf="currentUser?.username == 'admin'">
  <app-profile-admin></app-profile-admin>
</div>
