<div class="img-bloc">
  <img class="img-center" src='../../../assets/images/0xpuser.png' />
</div>


<div class="logout">
  <a (click)="logout()">Deconnexion</a>
</div>

<div class="profile-box" *ngIf="currentUser?.type === 'student'">
  <div class="square-sections">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Mon Profil">
        <app-profile-detail></app-profile-detail>
      </mat-tab>
      <mat-tab label="Mes favoris">
        <app-offer-square></app-offer-square>
      </mat-tab>
      <mat-tab label="Mes notifications">
        <p style="text-align: center; color: gray;">Fonctionnalité à venir...</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="profile-box" *ngIf="currentUser?.type === 'company'">
  <div class="square-sections">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Mon Profil">
        <app-profile-detail></app-profile-detail>
      </mat-tab>
      <mat-tab label="Mes offres">
        <app-offer-company></app-offer-company>
      </mat-tab>
      <mat-tab label="Mes notifications">
        <p style="text-align: center; color: gray;">Fonctionnalité à venir...</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="profile-box" *ngIf="currentUser?.type === 'admin'">
  <app-profile-admin></app-profile-admin>
</div>
