<div class="filter-text">
  <input class="search-company" placeholder="Rechercher une entreprise" (keyup)="filter($event)">
</div>
<div class="list-company">
  <mat-card *ngFor="let company of companiesList" class="company-card" routerLink="/companies/{{ company._id }}">
    <mat-card-header>
      <mat-card-title class="company-name">{{ company.name }}</mat-card-title>
    </mat-card-header>
    <div class="company-image-container">
      <img class="company-image" src="{{ company.srcImage }}">
    </div>
  </mat-card>
</div>