<div class="avis-preview">
  <div *ngFor="let avis of avisList" class="avis-box boxContainer">
    <div class="flexRow noteGlobale">
      <h1>5</h1>
      <h5>/20</h5>
    </div>
    <h3>"{{avis.description}}"</h3>
    <ul>
      <li>Note générale : <strong>{{avis.noteGenerale}}/5</strong></li>
      <li>Intérêt de la mission : <strong>{{avis.noteInteret}}/5</strong></li>
      <li>Ambiance de travail : <strong>{{avis.noteAmbiance}}/5</strong></li>
      <li>Encadrement : <strong>{{avis.noteEncadrt}}/5</strong></li>
    </ul>
  </div>
</div>

<div *ngIf="currentUser.isStudent" class="form-avis boxContainer">
  <h1>Donne ton avis</h1>
  <br />
  <form [formGroup]="avisForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-element">
      <mat-label for="noteGenerale">Impression générale</mat-label>
      <mat-select type="text" formControlName="noteGenerale">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label for="noteInteret">Intérêt de la mission</mat-label>
      <mat-select type="text" formControlName="noteInteret">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label for="noteAmbiance">Ambiance de travail</mat-label>
      <mat-select type="text" formControlName="noteAmbiance">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label for="noteEncadrt">Encadrement</mat-label>
      <mat-select type="text" formControlName="noteEncadrt">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-group">
      <textarea type="text" formControlName="avis" placeholder="Commentaire"
        [ngClass]="{'is-invalid': avisForm.controls.avis.errors}">
          </textarea>
      <div *ngIf="avisForm.controls.avis.errors" class="invalid-feedback">
        <div *ngIf="avisForm.controls.avis.errors.required">Le commentaire est requis !</div>
      </div>
    </div>

    <button>Ajouter un avis</button>
  </form>
</div>