:root{
    //Couleurs
    // TODO: Remove after complete restyle
    --color-blue-medium: #03c9d3;
    --color-blue-dark: #3e4259;
    --color-orange: #ea8122;

    --color-main-blue: #10069F;
    --color-gray-blue: #4D5F80;


    //Box shadow
    --shadow-light: #0000047a 0px 0px 5px;

}
