.fiche {
  padding-left: 4vw;
}

.edit-profile-button {
  background-color: var(--color-main-blue);
  color: #ffffff;

  display: flex;
  margin: 15px auto;
  padding: 5px 15px;

  mat-icon {
    margin-left: 8px;
    height: 30px;
    color: #ffffff;
  }
}

.logo-display{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloc {
  background-color: white;
  padding: 2vh 2vw;
  box-shadow: #00000448 0 0 4px;
  border-radius: 1vw;
  width: 80%;
  margin: auto auto 2vh;
}

.center {
  text-align: center;
  padding-left: 3vh;
  padding-right: 3vh;
  margin: 1vh;

  .title {
    width: 40%;
  }

  .desc {
    width: 80%;
  }
}

.close-logo {
  width: 1vw;
  height: 1vw;
  position: absolute;
  right: 16vw;
}

.button-container {
  display: flex;
  justify-content: center;

  .btn-success {
    color: white;
    background-color: var(--color-main-blue);
  }
}
