<button *ngIf="!isEdition" mat-raised-button class="edit-profile-button" (click)="enableEdition()">
  Editer le profil <mat-icon>edit</mat-icon>
</button>

<div *ngIf="currentUser?.type === 'student'">

  <div *ngIf="!isEdition">
    <div class="bloc">
      <p><span class="label">Nom : </span>{{currentUser?.firstName}} {{currentUser?.name}}</p>
    </div>
    <div class="bloc">
      <h2>Contact</h2>
      <p><span class="label">Email : </span>{{currentUser?.email}}</p>
      <p><span class="label">Numéro de téléphone : </span>{{currentUser?.telephone}}</p>
    </div>
  </div>


  <div *ngIf="isEdition">
    <img class="button close-logo" (click)="disableEdition()" src="../../../../assets/images/cross-light.svg">
    <h1 class="center profile-edition">Edition du Profil</h1>
    <br />
    <div class="bloc">
      <div class="center">
        <mat-form-field class="center">
          <input name="first-name-input" matInput placeholder="Prénom" [(ngModel)]="currentUserEdit.firstName">
        </mat-form-field>
        <mat-form-field class="center">
          <input name="name-input" matInput placeholder="Nom" [(ngModel)]="currentUserEdit.name">
        </mat-form-field>
      </div>
    </div>

    <div class="bloc">
      <h3 class="center">Contact</h3>
      <div class="center">
        <mat-form-field class="center">
          <input name="contact-mail-input" matInput placeholder="E-mail" [(ngModel)]="currentUserEdit.email">
        </mat-form-field>
        <mat-form-field class="center">
          <input name="contact-tel-input" class="location-input" matInput placeholder="Téléphone" [(ngModel)]="currentUserEdit.telephone">
        </mat-form-field>
      </div>
      <br />
    </div>
    <h3 class="button btn-success" (click)="updateProfile()">Modifier</h3>
  </div>
</div>

<div *ngIf="currentUser?.type === 'company'">
  <div *ngIf="!isEdition">
    <div class="bloc">
      <div class="logo-display">
        <img [src]="currentCompany?.srcImage">
      </div>
      <p><span class="label">Nom de l'entreprise : </span>{{currentCompany?.name}}</p>
      <p><span class="label">Catégorie : </span>{{currentCategoryDisplay}}</p>
      <p><span class="label">Localisation : </span>{{currentCompany?.location}}</p>
    </div>
    <div class="bloc">
      <h3>Informations complémentaires</h3>
      <p><span class="label">Description : </span>{{currentCompany?.description}}</p>
      <p><span class="label">Contact : </span>{{currentCompany?.contact}}</p>
    </div>

  </div>
  <div *ngIf="isEdition">
    <img class="button close-logo" (click)="disableEdition()" src="../../../../assets/images/cross-light.svg">
    <h1 class="center">Edition du Profil</h1>
    <br />
    <div class="bloc">
      <app-add-logo [logoAsBase64]="logoAsBase64" (logoReadyEvent)="onLogoReady($event)"></app-add-logo>
      <div class="center">
        <mat-form-field class="center title">
          <input matInput placeholder="Nom de l'Entreprise" [(ngModel)]="currentCompanyEdit.name">
        </mat-form-field>
      </div>
      <div class="center">
        <mat-form-field class="center">
          <mat-select matNativeControl [(ngModel)]="currentCompanyEdit.category">
            <mat-option *ngFor="let category of companyCategories" [value]="category._id" >{{category.display}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="center">
          <input matInput placeholder="Localisation" [(ngModel)]="currentCompanyEdit.location">
        </mat-form-field>
      </div>
    </div>
    <div class="bloc">
      <h3 class="center">Informations complémentaires</h3>
      <br />
      <div class="center">
        <mat-form-field class="center desc">
          <textarea matNativeControl placeholder="Description" [(ngModel)]="currentCompanyEdit.description"></textarea>
        </mat-form-field>
      </div>
      <div class="center">
        <mat-form-field class="center title">
          <input matInput placeholder="Contact" [(ngModel)]="currentCompanyEdit.contact">
        </mat-form-field>
      </div>
    </div>

    <h3 class="button btn-success" (click)="updateProfile()">Modifier</h3>
  </div>
</div>
