.pdf-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-preview {
  font-size: 1em;
}

.pdf-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

#pdf-upload {
  display: none;
}
