.pdf-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pdf-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.pdf-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdf-name {
  margin-top: 5px;
}

#pdf-upload {
  display: none;
}
