<mat-card>
  <mat-card-title>
    <h1>{{ noteGlobal }}/20</h1>
  </mat-card-title>
  <mat-card-content>
    <h3>"{{ avis.description }}"</h3>
    <ul>
      <li>Note générale : <strong>{{ avis.noteGenerale }}/5</strong></li>
      <li>Intérêt de la mission : <strong>{{ avis.noteInteret }}/5</strong></li>
      <li>Ambiance de travail : <strong>{{ avis.noteAmbiance }}/5</strong></li>
      <li>Encadrement : <strong>{{ avis.noteEncadrt }}/5</strong></li>
    </ul>
  </mat-card-content>
</mat-card>