.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 40px 50px;

    border-radius: 20px;
    background-color: #fafafa;
    box-shadow: 0 0 10px 0 lightgrey;
}

.login-field {
    margin: 20px 0;
}

.login-button {
    color: white;
    background-color: var(--color-orange);
}

.form-button {
    margin: 10px;
}
