<div class="login-container">

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <h2>Se connecter</h2>

    <mat-form-field class="login-field">
      <mat-label>Utilisateur</mat-label>
      <input matInput type="text" formControlName="username">
    </mat-form-field>

    <mat-form-field class="login-field">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <div class="form-buttons">
      <button mat-raised-button class="login-button form-button" type="submit">
        Se connecter
      </button>
      <button mat-raised-button routerLink="/register" type="reset" class="register-button form-button">
        S'enregistrer
      </button>
    </div>

  </form>

</div>
