.logo {
    height: 60px;
}

.link-home {
    text-decoration: none;
    color: var(--color-gray-blue);
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: var(--color-main-blue);
    border: 0.2px solid #808080;
    border-radius: 1px;
    border-bottom: none;
    height: 37px;
    width: 138px;
    padding: 0 0 3px !important;
    margin: 20px 10px -1px;
    text-align: center;
    font-weight: bold;
}

.blue-style-block {
    border-radius: 0 0 0 1px;
    width: 15px;
    height: 5px;
    top: -7px;
    left: -20px;
    background-color: var(--color-main-blue);
}

.selected {
    color: #ffffff;
    background-color: var(--color-main-blue);
}

.menu-logo {
    display: none;
    color:var(--color-main-blue);

    &:hover {
        cursor: pointer;
    }
}

.mat-toolbar {
    background-color: #ffffff;
    margin-bottom: 3vh;
    padding: 0 3vw;

    border-bottom: 3px solid var(--color-main-blue);

    a {
        padding: 1em;
    }
}

.navbar-spacer {
    flex: 1 1 auto;
}


@media (max-width: 767px) {
    .link {
        display: none;
    }
    .menu-logo {
        display: block;
        margin-right: 20px;
    }
}

.mat-toolbar {
    margin-bottom: 0;
    padding: 0;
}
