<mat-toolbar>

  <mat-icon class="menu-logo" (click)="toggleSidenav()">menu</mat-icon>
  <a class="link" routerLink="/" >ACCUEIL</a>
  <a class="link" routerLink="/offers" *ngIf="currentUser">LES OFFRES</a>
  <a class="link" routerLink="/companies" *ngIf="currentUser?.type === 'student' || currentUser?.type === 'admin'" >DONNER SON AVIS</a>
  <a class="link" routerLink="/faq">FAQ</a>

  <span class="navbar-spacer"></span>

  <a routerLink="/login" *ngIf="!currentUser">Se connecter</a>
  <div *ngIf="currentUser && !isProfilOpen" class="button profil-box" routerLink="/profile">
    <img src="../../../assets/images/0xpuser.png" alt="Profile logo">
    <!-- TODO: check for profile missing information -->
  </div>

</mat-toolbar>
