img {
    width: 60px;
}

a {
    text-decoration: none;
    color: #FBFEF9;

    &:hover {
        color: var(--color-blue-medium);
        cursor: pointer;
    }
}

.menu-logo {
    display: none;
    color:var(--color-blue-medium);

    &:hover {
        cursor: pointer;
    }
}

.profil-box {
    filter: drop-shadow(#00000447 0px 2px 3px);
    &:focus {
        outline: none;
    }
}

.mat-toolbar {
    height: 10vh;
    background-color: #3e4259;
    margin-bottom: 3vh;
    padding: 0 3vw;

    a {
        padding: 1em;
    }
}

.navbar-spacer {
    flex: 1 1 auto;
  }


@media (max-width: 767px) {
    .link {
        display: none;
    }
    .menu-logo {
        display: block;
    }
}
