img {
    width: 60px;
}

a {
    text-decoration: none;
    color: #FBFEF9;

    &:hover {
        color: var(--color-blue-medium);
        cursor: pointer;
    }
}

.menu-logo {
    display: none;
    color:var(--color-blue-medium);

    &:hover {
        cursor: pointer;
    }
}

.profil-box {
    filter: drop-shadow(#00000447 0px 2px 3px);
    &:focus {
        outline: none;
    }
}

.notif-info, .notif-alert {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 45px;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;

    p {
        width: 100%;
        margin: 0px;
        color: white;
        font-weight: 700;
        text-align: center;
        font-size: smaller;
    }
}

.notif-info {
    background-color: orange;
}

.notif-alert {
    background-color: red;
}

.mat-toolbar {
    height: 10vh;
    background-color: #3e4259;
    margin-bottom: 10vh;
    padding: 0 3vw;

    a {
        padding: 1em;
    }
}

.navbar-spacer {
    flex: 1 1 auto;
  }


@media (max-width: 767px) {
    a {
        display: none;
    }
    .menu-logo {
        display: block;
    }
}
