.banner {
  display: flex;
  align-items: center;

  color: var(--color-main-blue);
  background-color: var(--color-light-gray);
  border-bottom: 3px solid var(--color-main-blue);
  padding: 20px;
}

.img-container {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 10px;
  margin: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  .img-border {
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 10px;

    img {
      max-width: 200px;
      max-height: 200px;
    }

  }
}

.info-sheet {

  h1 {
    font-size: 3em;
    margin: 0 0 15px;
    font-weight: bold;
  }

  p {
    font-size: 1.3em;
    margin: 0;
  }

  .label {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: var(--color-main-blue);
  }
}

@media (max-width: 767px) {

  .img-container {
    margin: 15px;

    .img-border {
      img {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }

  .info-sheet {
    p {
      font-size: 1em;
    }
  }
}
