<div class="banner">
  <div class="img-container">
    <div class="img-border">
      <img src="{{company?.srcImage}}" alt="logo company" />
    </div>
  </div>
  <div class="info-sheet">
    <h1>{{company?.name}}</h1>
    <p><span class="label">Localisation : </span>{{company?.location}}</p>
    <p><span class="label">Catégorie de l'entreprise : </span>{{currentCategoryDisplay}}</p>
    <p><span class="label">Description : </span>{{company?.description}}</p>
    <p><span class="label">Contact : </span>{{company?.contact}}</p>
  </div>
</div>

<app-avis-company [companyId]="companyId"></app-avis-company>
