<div class="actu-container">
    <h1 class="title">
        Informations Coronavirus
    </h1>

    <p>Vous trouverez les consignes au 17/03/2020 de l'école concernant les stages en cours et les stages prévus dans les semaines qui viennent.</p>

    <div class="no-space">
        <p>Si votre stage est en France :</p>
        <p>- vous pouvez commencer (ou continuer)  votre stage en "stage à domicilie" si l’entreprise l’accepte.</p>
        <p>- sinon vous devez repousser la date de début de stage (ou suspendre)  au moins jusqu’à début mai.</p>
    </div>

    <div class="no-space">
        <p>Si votre stage était prévu à l’étranger et n'a pas démarré :</p>
        <p>- vous ne pouvez pas partir. Soit l’organisme d’accueil accepte que vous le fassiez en "stage à domicile", soit il faut repousser  le départ à une date ultérieure.</p>
    </div>

    <div class="no-space">
        <p>Si vous êtes actuellement en stage à l’étranger :</p>
        <p>- vous devez impérativement suivre les consignes du pays et de l’organisme qui vous accueille.</p>
        <p>- vous pouvez  interrompre ce stage et rentrer en France suivant les modalités mises en place par le gouvernement français, disponibles via les consulats</p>
        <p>- si vous souhaitez rester, nous vous incitons à la plus grande prudence et à continuer ce stage en "stage à domicile"</p>
    </div>


    <p>Dans tous les cas, vous devez nous informer des modalités que vous et votre organisme d’accueil ont choisies, en envoyant un mail à <strong>gestion-stage@centrale-marseille.fr</strong> exclusivement. Nous pourrons ainsi modifier les conventions de stage par des avenants si cela est nécessaire. </p>
</div>
