.filter-container {
  background-color: var(--color-light-gray);
  border-bottom: 3px solid var(--color-main-blue);
  padding: 20px 0 0 0;
}

.slogan {
  text-align: center;
  font-size: x-large;
  margin: 0;
  color: var(--color-main-blue);
}

.main-filter-text {
  width: 50%;
  margin-left: 25%;
}

.main-filter-container {
  display: flex;
}

.chip-list-container {
  display: flex;
  justify-content: center;

  mat-chip {
    box-shadow: #00000447 0 2px 3px;
    border-radius: 10px;
    margin: 4px 7px;
  }
}

.selected-mat-chip {
  background-color: var(--color-main-blue);
  color: #ffffff;
  opacity: 1;
}

.box-mandatory {
  width: 60vw;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 0 0 0.5em;
    text-align: center;
    color: var(--color-main-blue);
  }

  h3:nth-of-type(2n) {
    margin: 0.5em 0 0;
  }

  p {
    color: #adadad;
  }
}

.list-select {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.more-criteria-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: -16px;
}

.text-open-more-criteria {
  text-align: center;
  font-size: small;
  color: #808080;
  margin-top: 1vh;
}

.logo-show-more-criteria {
  color: var(--color-main-blue);
  background-color: #ffffff;

  border-radius: 50%;
  border: 3px solid ;

  transform: rotate(90deg);
  transition-property: all;
  transition-duration: 0.2s;
}

.form-line {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.filter-element {
  width: 25%;
}

.more-filter-div {
  width: 100%;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: #adadad;
    margin: 0;
  }

  .slider-value {
    width: 200px;
    justify-content: space-between;
  }

  .slider {
    margin-top: -13px;
  }
}

.more-filter-openImg {
  transform: rotate(270deg);
}

.filter-button {
  text-align: center;
  background-color: var(--color-main-blue);
  color: white;
}

@media (max-width: 767px) {
  .box-mandatory {
    width: 100%;
  }
}
