.banner {
  background-color: rgb(169,163,163);
  border-bottom: 3px solid var(--color-main-blue);
  padding: 10px;

  .banner-border {
    background-color: rgb(181,176,176);
    padding: 10px;
    border-radius: 10px;

    .banner-content-container {
      background-color: rgb(193,190,190);
      padding: 20px;
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .banner-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;

        h1 {
          margin: 10px 0;
        }

        .centrale-marseille {
          display: flex;

          .centrale {
            color: var(--color-gray-blue);
          }
          .marseille {
            color: var(--color-main-blue);
          }
        }
      }
    }
  }
}
.main-wrapper {
  display: flex;
  justify-content: center;
}
.grid-container {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;

  .table {
    grid-column: 2 / 4;

    table {
      border: none;
      border-spacing: 0;
      font-size: 1.2em;
      height: 234px;
      box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.2);

      td {
        border: none;
        padding: 15px;
      }

      .first-col {
        background-color: var(--color-main-blue);
        color: #ffffff;
      }

      .first-line {
        font-weight: bold;

        & > .first-col::after {
          content: "";
          position: relative;
          left: -47px;
          padding: 0 30px 8px;
          border-bottom: 1px solid #ffffff;
        }
      }
    }

    td {
      border: 0.5px #00000052 solid;
      padding: 10px;
    }
  }

  .section {
    h2 {
      color: var(--color-main-blue);
    }

    .section-content {
      display: flex;
      cursor: pointer;
      box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 20%);

      .text {
        background-color: var(--color-main-blue);
        color: #ffffff;
        padding: 5px;
        width: 110px;

        p {
          margin: 0;
        }
      }
    }
  }

  .actu h3::after {
    content: "";
    position: relative;
    left: -65px;
    padding: 0 20px 8px;
    border-bottom: 1px solid #ffffff;
  }

  .management h3::after {
    content: "";
    position: relative;
    left: -50px;
    padding: 0 20px 8px;
    border-bottom: 1px solid #ffffff;
  }

  .parts h3::after {
    content: "";
    position: relative;
    left: -36px;
    padding: 0 20px 8px;
    border-bottom: 1px solid #ffffff;
  }

  .parts-map h3::after {
    content: "";
    position: relative;
    left: -39px;
    padding: 0 20px 8px;
    border-bottom: 1px solid #ffffff;
  }
}

@media (max-width: 767px) {
  .banner {
    .banner-border {
      .banner-content-container {
        flex-direction: column;
      }
    }
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section {
      margin: auto;
    }

    .table {
      table {
        font-size: 1em;
      }
    }
  }
}
