<div class="banner">
  <div class="banner-border">
    <div class="banner-content-container">
      <div class="banner-title">
        <h1>LE SITE</h1>
        <h1>DES STAGES ET EMPLOIS DE</h1>
        <div class="centrale-marseille">
          <h1 class="centrale">CENTRALE &nbsp;</h1>
          <h1 class="marseille">MARSEILLE</h1>
        </div>
      </div>
      <img src="assets/images/0xp-logo-white.svg" />
    </div>
  </div>
</div>

<div class="grid-container">

  <div class="section actu">
    <h2>ACTUALITÉS</h2>

    <div class="section-content" routerLink="/actu">
      <div class="text">
        <h3>COVID-19</h3>
        <p>Informations</p>
        <p>Importantes</p>
      </div>
      <img src="assets/images/image-actu.png" />
    </div>
  </div>

  <div class="section table">
    <h2>CALENDRIER DES STAGES</h2>

    <table>
      <tr class="first-line">
        <td class="first-col">Élèves</td>
        <td>Début</td>
        <td>Durée</td>
        <td>Intitulé</td>
      </tr>
      <tr>
        <td class="first-col">1ère année</td>
        <td>Juillet</td>
        <td>4 semaines minimum</td>
        <td>Stage découverte de l'entreprise</td>
      </tr>
      <tr>
        <td class="first-col">2ème année</td>
        <td>Juin</td>
        <td>8 semaines minimum</td>
        <td>Stage découverte du métier d'ingénieur</td>
      </tr>
      <tr>
        <td class="first-col">3ème année</td>
        <td>Avril</td>
        <td>16 semaines minimum</td>
        <td>Travail de Fin d'Etude</td>
      </tr>
    </table>
  </div>

  <div class="section management">
    <h2>GESTION DES STAGES</h2>

    <div class="section-content" routerLink="/faq">
      <div class="text">
        <h3>Stages</h3>
        <p>Tout savoir</p>
        <p>sur la</p>
        <p>gestion</p>
        <p>des stages</p>
      </div>
      <img src="assets/images/image-gestion.png" />
    </div>
  </div>

  <div class="section parts">
    <h2>DEVENIR PARTENAIRE</h2>

    <div class="section-content" routerLink="/parts">
      <div class="text">
        <h3>Part.</h3>
        <p>Tout savoir</p>
        <p>sur les</p>
        <p>Partenariats</p>
      </div>
      <img src="assets/images/image-part.png" />
    </div>
  </div>

  <div class="section parts-map">
    <h2>CARTE DES PARTENAIRES</h2>

    <div class="section-content" routerLink="/parts-map">
      <div class="text">
        <h3>Carte</h3>
        <p>Découvrir</p>
        <p>la carte des</p>
        <p>partenaires</p>
      </div>
      <img src="assets/images/image-map-part.png" />
    </div>
  </div>

</div>

<app-carousel></app-carousel>
