<div class="parts-container">
    <h1 class="title">
        Devenir Partenaire
    </h1>

    <p>Afin de vous assurer un maximum de visibilité auprès des étudiants, L'École Centrale de Marseille développe une politique de partenariats actifs avec les entreprises.</p>

    <div class="no-space">
        <p>Les partenaires de l'école bénéficient :</p>
        <p>- d'un accès privilégié aux étudiants (rencontres, intervention lors des parcours d'approfondissement ...)</p>
        <p>- possibilité de saisir directement vos offres grâce à un code d'accès (mise en avant des offres et traitement en priorité)</p>
    </div>

    <div class="no-space">
        <p>Vous souhaitez juste déposer une offre?</p>
        <p>Demandez un compte en cliquant à droite sur le menu <strong>Se connecter</strong> puis <strong>S’enregistrer</strong>.</p>
        <p>Pour plus de renseignements, n'hésitez pas à nous contacter !</p>
    </div>

</div>
