.sort-menu-item {
  display: flex;
  align-items: center;
}

.list-offers {
    width: 75vw;
    margin: 10px auto;
    position: relative;

    .logo-sort {
        align-self: flex-end;
        color: var(--color-main-blue);
    }

    .one-offer {
        margin-bottom: 2vh;

        &:focus,
        &:active,
        &:visited {
            outline: none;
            -moz-outline-style: none;
            outline-style: none;
        }
    }
}

.loading-screen {
    margin-top: 10vh;

    .loader {
        animation: spinning-color 1.5s ease-in-out infinite;
        margin: 50px auto;
        border: 5px double #f0eff5;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    @keyframes spinning-color {
        0% {
            transform: rotate(360deg);
            border-top: 5px dashed var(--color-gray-blue);
            border-bottom: 5px dashed var(--color-main-blue);
        }

        25% {
            border-top: 5px dashed var(--color-gray-blue);
            border-bottom: 5px dashed var(--color-main-blue);
        }

        50% {
            border-top: 5px dashed var(--color-gray-blue);
            border-bottom: 5px dashed var(--color-main-blue);
        }

        75% {
            border-top: 5px dashed var(--color-gray-blue);
            border-bottom: 5px dashed var(--color-main-blue);
        }

        100% {
            border-top: 5px dashed var(--color-gray-blue);
            border-bottom: 5px dashed var(--color-main-blue);
        }
    }

    h1 {
        text-align: center;
        color: var(--color-main-blue);
    }
}

.no-offer-div {
    margin: 3vh auto 10vh auto;
    text-align: center;

    h3,p {
        color: var(--color-main-blue);
    }
}

.logo {
    width: 10vw;
    margin: auto;
    display: block;
}
