.add-company-modal-button {
  display: flex;
  margin: 15px auto;
  padding: 5px 15px;

  mat-icon {
    margin-left: 8px;
    height: 26px;
  }
}

.filter-company {
  width: 50%;
  margin: 0 25%;
}

.list-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.company-name {
  font-family: MadeMedium;
  text-align: center;
}

.edit-company-button {
  position: absolute;
  top: 0;
  right: 40px;
}

.remove-company-button {
  position: absolute;
  top: 0;
  right: 0;
}

.company-card {
  width: 20%;
  margin: 10px 0;

  &:hover {
    box-shadow: 0 1px 5px -1px rgba(0,0,0,.5), 
    0 1px 1px 0 rgba(0,0,0,.3), 
    0 1px 3px 0 rgba(0,0,0,.3);
  }
}

.company-image {
  max-width: 80%;
  max-height: 80%;
}

.company-image-container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
