<mat-form-field class="filter-company">
  <mat-label>Rechercher une entreprise</mat-label>
  <input matInput type="text" [(ngModel)]="companyTextQuery" (ngModelChange)="filter()">
  <button *ngIf="companyTextQuery" matSuffix mat-icon-button aria-label="Clear" (click)="resetQuery()">
    <mat-icon>close</mat-icon>
  </button>
  <button *ngIf="!companyTextQuery" matSuffix mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
<div class="list-company">
  <mat-card *ngFor="let company of companiesList" class="company-card" routerLink="/companies/{{ company._id }}">
    <mat-card-header>
      <mat-card-title class="company-name">{{ company.name }}</mat-card-title>
      <button class="remove-company-button" mat-icon-button (click)="onRemoveClick($event, company)">
        <mat-icon *ngIf="deleteEnabled">close</mat-icon>
      </button>
    </mat-card-header>
    <div class="company-image-container">
      <img class="company-image" src="{{ company.srcImage }}">
    </div>
  </mat-card>
</div>
