<div class="profile-container">
    <mat-tab-group mat-stretch-tabs class="profile-tab-group">
        <mat-tab label = "Gestion des entreprises">
            <div style="margin:4vh">
                <app-list-company [modifyEnabled]="true"></app-list-company>
            </div>
        </mat-tab>
        <mat-tab label="Gestion des offres">
            <div style="margin:4vh">
                <app-offer-company></app-offer-company>
            </div>
        </mat-tab>
        <mat-tab label="Validation des offres">
            <div style="margin:4vh">
                <app-offer-company [validationPanel]="true"></app-offer-company>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
